# audio recording dependencies
sounddevice
soundfile
mss
requests
discord.py
numpy
Pillow

discord.py
requests
pyautogui
gTTS
pygame
python-dotenv
pycaw
comtypes
Pillow
tkvideo
pyopencl
numpy
pyaudio
pyshortcuts
pyautogui
pyopencl
pywin32
tkvideo
